/*  GRADIENT GLOW BUTTON
            &:before {
                content: '';

                background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);

                width: 80%;
                height: 70%;
                top: 15%;
                left: 10%;

                filter: blur(100px);

                transition: .3s opacity ease-in-out;

                display: block;
                position: absolute;

                opacity: 0;
                z-index: 1;
            }

            &:hover:before {
                background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);

                opacity: 1;

                transition: .3s opacity ease-in-out;

                filter: blur(100px);
            }

            &:after {
                width: 92%;
                height: 80%;
                left: 4%;
                border-radius: 180px;

                content: 'CLICK ME';

                color: rgba(235, 235, 235, 1);
                background-color: rgb(19, 20, 22);

                font-size: 18px;
                font-weight: bold;

                line-height: 40;
                text-align: center;

                display: block;
                position: absolute;

                z-index: 5;
            }
*/
